&lt;form action=&quot;{{ url }}&quot; method=&quot;post&quot; class=&quot;inline-form newsletter-form&quot;&gt;
    &lt;fieldset&gt;
        {{&gt; atoms-userid }}
        {{&gt; atoms-password }}
    &lt;/fieldset&gt;
&lt;/form&gt;
