<div class="container">
    <div class="sign-up-button">
        {{> atoms-signup-button }}
    </div>
    <div class="login-section">
        {{> organisms-login-section }}
    </div>
    <div class="request-button">
        {{> atoms-request-button }}
    </div>
</div>
