//RED Colors
$gray-light-4 : #BFC7CC; //border
$gray-dark-3 : #333333;
$gray-dark-4 : #505050;
$light-blue : #368BC0;
$lighter-blue : #57ACD7;
$dark-blue : #1669AA;
$light-red : #B12525;
$dark-red : #830707;

//RED Typography
$header-font : "Trebuchet MS", "Lucida Sans Unicode", "Lucida Sans", Arial, Helvetica, sans-serif;
$primary-font : Verdana, Arial, Helvetica, sans-serif;

//RED Borders
$border-radius-1 : 0.8em;
$border-radius-buttons : 0.33em;
$border-radius-inputs : 0.417em;
