<div class="block block-inset">
    <div class="block-header form-header">
        {{> molecules-header }}
    </div>
    <div class="block-form">
        {{> molecules-login }}
    </div>
    <div>
        {{> atoms-login-button}}
    </div>
</div>
